<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>
  
  <akka>
    <hocon>
      <![CDATA[
        akka { 
          loglevel=DEBUG,
          loggers=["Akka.Logger.Serilog.SerilogLogger, Akka.Logger.Serilog"]
          log-config-on-start = on
          logtemplate = "syslog {Message}"
          actor {                
            debug {  
              receive = on 
              autoreceive = on
              lifecycle = on
              event-stream = on
              unhandled = on
            }
          }
        }
      ]]>
    </hocon>
  </akka>
  
</configuration>
